@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* #0E0E46
#4A4AC5
#040470
#8181F0
#B4B4FF */

.divPrincipal{
  width: 94%;
  background-color: #0E0E46;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 12px;
  padding-top: 20px;
}

.titulo{
  text-align: center;
  text-shadow: 1px 1px 2px #0e0e46bb;
  font-size: 1.7em;
  font-family: 'Roboto Serif', 'Times New Roman', Times, serif;
  color:#0E0E46;
  font-weight: bolder;
}



.divConteudo{
  padding: 10px;
  padding-bottom: 50px;
  width: 90%;
  height: 100%;
  background:#9696ff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
}



.lista{
  background-color: #0E0E46;
  width: 75%;
  padding:10px;
  display: flex;
  list-style-type: none;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  border-radius: 6px;
  box-shadow: 2px 4px 4px rgba(0, 0, 61, 0.356);
}

.itemlista{
  font-family: 'Times New Roman', Times, serif;
  background-color: #B4B4FF;
  color: rgb(0, 0, 48);
  padding: 5px;
  width: 70%;
  border-radius: 4px;
  margin-bottom: 1px;
  margin-left: -1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 70, 0.747);
  text-align: left;
}

.button{
  border: 1px solid #0E0E46;
  background-color:#B4B4FF;
  color: #0E0E46;
  border-radius: 5px;
  width: 15%;
  padding: 5.5px;
  
}




.riscado{
  text-decoration: line-through;  
}

.caixasvg{
  display: inline;
}

.input{
  background-color: #B4B4FF;
  border: 1px solid #dfdffc;
  border-radius: 5px;
  padding: 4px;
  margin: 2px 3px;
  font-weight: 600;
  font-size: 0.7em;
  box-shadow: 1px 2px 2px #c9c9ff;
  outline: solid #0E0E46;
  margin-bottom: 5px;
}


.butAd{
  background-color: #9696FF;
  padding: 3px;
  margin: 2px;
  border-radius: 5px ;
  border: 1px solid #c7c7fa;
  box-shadow: 1px 2p 2px #0E0E46;
  font-weight: 600;
  font-size: 0.8em;
  color: #f0f0f0;
  margin-bottom: 5px;
}
.butEx{
  background-color: #a0020fc2;
  padding: 3px;
  margin: 2px;
  border-radius: 5px ;
  border: 1px solid #c7c7fa;
  box-shadow: 1px 2p 2px #0E0E46;
  font-weight: 600;
  font-size: 0.8em;
  color: #fcc4c4;
}

.butAd:hover{
  background-color:  #0e0e46 ;
  color: whitesmoke;
  font-weight: normal;
  box-shadow: 1px 2px 2px #dfdffcdc;
  cursor: pointer;
}
.butEx:hover{
  background-color:  #dd1627c2 ;
  color: whitesmoke;
  font-weight: normal;
  box-shadow: 1px 2px 2px #dfdffcdc;
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* mudar a cor da letra do placeholder. */
   color: #0E0E46;
}



/* Estilo página descrição tarefa */

.divConteudoTarefa{
  padding: 10px;
  padding-bottom: 50px;
  width: 90%;
  height: 82%;
  background:#9696ff;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
  margin-top: 20px;
}

h1{
  color: white;

}

.divCont{
  background-color: #c9c9ff;
  padding: 20px;
  width: 65%;
  height: 30%;
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: 2px 2px 4px #0e0e4673;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: space-between;
}

.divCont>h2{
  color: #0E0E46;
  font-family: 'Roboto Serif';
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px #0e0e464f;
}

.divCont>p{
  font-family: 'Roboto Serif';
  color: #0E0E46;
  text-align: center;
  font-size: 0.8em;
}

.display{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.butTarefa{
  padding: 1px;
  border-radius: 50%;
  margin: 5px;
  width: 25px;
  height: 25px;
  border: 1px;
  color: white;
  background-color: #0E0E46;
  margin-left: 2px;
  margin-right: 10px;
}

.butTarefa:hover{
  background: #e4e4ff;
  color: #0E0E46;
  border: 1px solid #0E0E46;
}

